# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Importing city data generated in WeatherPy
city_data_path = "../WeatherPy/weather_data.csv"
city_data_read = pd.read_csv(city_data_path)
city_data_cleand_df = city_data_read.drop(columns=["Unnamed: 0"])
city_data_cleand_df

,Latitude,Longitude,City,Country,Temperature (F),Humidity (%),Cloud Cover (%),Wind Speed (MPH),Date (UTC)
0,-49.34,71.83,Souillac,MU,78.80,65,75,19.46,1603694057
1,-63.69,-12.97,Cape Town,ZA,66.11,72,0,4.70,1603694058
2,26.90,-45.04,Codrington,AG,56.26,71,0,21.97,1603694059
3,-50.16,-121.36,Rikitea,PF,75.06,84,100,19.33,1603694060
4,46.39,-62.78,Montague,CA,41.47,79,100,2.21,1603694061
...,...,...,...,...,...,...,...,...,...
846,45.43,30.89,Zatoka,UA,60.40,87,90,11.18,1603695342
847,-27.14,178.65,Russell,NZ,66.76,93,75,3.27,1603695343
848,41.50,144.46,Kushiro,JP,57.20,50,75,5.82,1603695344
849,59.97,71.18,Salym,RU,31.82,98,100,6.06,1603695345
850,-31.17,-59.10,Concordia,AR,66.99,98,100,1.99,1603695053

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#Store latitude and longitude locations
city_locations = city_data_cleand_df[["Latitude", "Longitude"]].astype(float)
city_humidity = city_data_cleand_df["Humidity (%)"].astype(float)

In [4]:
# Configure gmaps
# gmaps.configure(api_key=g_key)
gmaps.configure(g_key)


# Develop figure for heatmap
city_humid_fig = gmaps.figure()

# Develop heat layer for humidity
# city_humid_layer = gmaps.heatmap_layer(city_locations, weights=city_humidity, 
#                                  dissipating=False, max_intensity=10,
#                                  point_radius=1)


city_humid_layer = gmaps.heatmap_layer(city_locations) 
                                 #dissipating=False, max_intensity=10,
                                 #point_radius=1)




# Add heat layer for humidity
city_humid_fig.add_layer(city_humid_layer)

# Display figure
city_humid_fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure