# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [28]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress
import requests
import json
from api_keys import weather_api_key
from citipy import citipy
import random
import decimal
import time
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [29]:
# Importing city data generated in WeatherPy
city_data_path = "../WeatherPy/weather_data.csv"
city_data_read = pd.read_csv(city_data_path)
city_data_cleand_df = city_data_read.drop(columns=["Unnamed: 0"])

city_data_cleand_df

,Latitude,Longitude,City,Country,Temperature (F),Humidity (%),Cloud Cover (%),Wind Speed (MPH),Date (UTC)
0,55.64,95.45,Irbeyskoye,RU,32.67,88,41,12.03,1603932457
1,-21.36,55.77,Saint-Philippe,RE,62.92,64,0,5.82,1603931947
2,-42.88,147.33,Hobart,AU,64.71,54,25,1.99,1603931762
3,-34.42,19.23,Hermanus,ZA,62.01,72,100,1.01,1603931918
4,-34.53,20.04,Bredasdorp,ZA,62.60,59,100,2.24,1603931919
...,...,...,...,...,...,...,...,...,...
1292,-14.80,-57.29,Nova Olímpia,BR,74.71,92,100,8.88,1603934074
1293,45.12,124.86,Songyuan,CN,36.41,70,0,6.73,1603934077
1294,14.53,20.92,Biltine,TD,80.49,21,0,8.97,1603934078
1295,-37.81,144.89,Seddon,AU,73.81,53,88,1.01,1603934079
1296,33.53,-111.94,Paradise Valley,US,64.56,22,1,3.36,1603934080

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [30]:
#Store latitude and longitude locations
city_locations = city_data_cleand_df[["Latitude", "Longitude"]].astype(float)
city_humidity = city_data_cleand_df["Humidity (%)"].astype(float)

In [31]:
# Configure gmaps
gmaps.configure(api_key=g_key)



# Develop figure for heatmap
city_humid_fig = gmaps.figure()

# Develop heat layer for humidity
city_humid_layer = gmaps.heatmap_layer(city_locations, weights=city_humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add heat layer for humidity
city_humid_fig.add_layer(city_humid_layer)

# Display figure
city_humid_fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [32]:
# Set working data to new DF
vacation_weather_df = city_data_cleand_df

# Filters
# Show cities that have temps between 70 and 90 degress F
vacation_weather_df = vacation_weather_df[(vacation_weather_df["Temperature (F)"] >= 70) & (vacation_weather_df["Temperature (F)"] <= 90)]

# Show cities that have humidity with less then 50% humidity
vacation_weather_df = vacation_weather_df[vacation_weather_df["Humidity (%)"] <= 50]

# Show cities that have wind speed that is less then 10 MPH
vacation_weather_df = vacation_weather_df[vacation_weather_df["Wind Speed (MPH)"] <= 5]

vacation_weather_df = vacation_weather_df.reset_index(drop=True)

print("Total number of cities with perfect vacation weather is: " + str(len(vacation_weather_df.index)))

vacation_weather_df

Total number of cities with perfect vacation weather is: 28

,Latitude,Longitude,City,Country,Temperature (F),Humidity (%),Cloud Cover (%),Wind Speed (MPH),Date (UTC)
0,9.08,3.85,Kisi,NG,74.01,41,0,1.74,1603932513
1,18.69,12.92,Bilma,NE,70.14,20,0,4.50,1603932551
2,36.03,-115.24,Enterprise,US,73.76,13,1,3.36,1603932745
3,13.03,-9.49,Kita,ML,73.04,23,95,1.34,1603932822
4,-18.37,26.50,Hwange,ZW,72.37,35,0,3.42,1603932858
5,35.15,-114.57,Bullhead City,US,75.20,12,1,4.70,1603933001
6,21.57,74.22,Taloda,IN,73.63,45,0,3.76,1603933034
7,9.28,12.47,Jimeta,NG,76.77,38,5,2.53,1603933071
8,11.42,-7.48,Bougouni,ML,73.27,37,20,1.88,1603933088
9,14.35,3.32,Filingué,NE,80.92,16,0,3.29,1603933174
10,13.05,3.19,Dosso,NE,77.22,19,0,4.27,1603933234
11,5.84,118.12,Sandakan,MY,75.00,10,100,1.99,1603933133
12,30.42,-9.60,Santa Cruz,MA,71.85,44,100,3.85,1603933273
13,9.90,4.42,Wawa,NG,75.88,43,0,2.89,1603933405
14,10.28,22.79,Birao,CF,74.01,39,0,1.86,1603933646
15,-23.94,31.14,Phalaborwa,ZA,70.29,39,0,4.97,1603933393
16,33.61,-114.60,Blythe,US,75.00,24,0,4.52,1603933678
17,38.42,-121.42,Laguna,US,71.67,29,0,2.91,1603933485
18,11.03,20.28,Am Timan,TD,75.96,41,40,0.89,1603933727
19,33.36,129.55,Hirado,JP,71.01,25,0,3.00,1603933793
20,34.34,132.59,Kumano,JP,71.01,45,0,4.52,1603933802
21,36.83,-119.70,Clovis,US,72.21,18,90,4.70,1603933667
22,10.40,5.47,Kontagora,NG,73.20,39,0,2.13,1603933805
23,16.41,-3.67,Goundam,ML,83.62,14,100,4.79,1603933844
24,31.32,-113.53,Puerto Peñasco,MX,71.01,36,0,4.00,1603933914
25,10.95,-4.93,Orodara,BF,72.01,32,53,1.19,1603933934
26,-17.00,145.43,Mareeba,AU,88.50,32,0,1.99,1603933966
27,11.11,7.72,Zaria,NG,73.13,28,0,4.41,1603933999

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [33]:
# List to store Hotel values from API
hotels_list = []


# base url for API pull
url_hotel = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# API Key
url_key = g_key


for target in range(0, len(vacation_weather_df.index)):
    
    # Set up location data for each loop
    lat_location = vacation_weather_df.iloc[target]["Latitude"]
    long_location = vacation_weather_df.iloc[target]["Longitude"]
    final_location = str(f"{lat_location}, {long_location}")    
    display_city = vacation_weather_df.iloc[target]["City"]
    display_country = vacation_weather_df.iloc[target]["Country"]
    
    #Setting up parameters for our API poll
    parameters = {
        "location": final_location,
        "radius": 5000,
        "type": "lodging",
        "key": g_key}
    

    
    response = requests.get(url_hotel, params = parameters)
    places_data = response.json()
    
    
    print(f"Currently on {(target + 1)} out of {(len(vacation_weather_df.index))} |::| City: {display_city}, {display_country}")
    
    
    try:
    
        # Gather Data
        hotel_name_jason = places_data["results"][0]["name"]
        hotels_list.append(hotel_name_jason)    
    
    except:
        print("I'm afraid I can't do that Dave. There seems to have been an error. Let's try the next city.")
        
        # Usuccessful API request will result in a blank value in list that will throw off list alignment
        # We will but in a dummy value in its place to clean out later
        hotels_list.append("Error")

    print()

Currently on 1 out of 28 |::| City: Kisi, NG

Currently on 2 out of 28 |::| City: Bilma, NE

Currently on 3 out of 28 |::| City: Enterprise, US

Currently on 4 out of 28 |::| City: Kita, ML

Currently on 5 out of 28 |::| City: Hwange, ZW

Currently on 6 out of 28 |::| City: Bullhead City, US

Currently on 7 out of 28 |::| City: Taloda, IN

Currently on 8 out of 28 |::| City: Jimeta, NG

Currently on 9 out of 28 |::| City: Bougouni, ML

Currently on 10 out of 28 |::| City: Filingué, NE
I'm afraid I can't do that Dave. There seems to have been an error. Let's try the next city.

Currently on 11 out of 28 |::| City: Dosso, NE

Currently on 12 out of 28 |::| City: Sandakan, MY

Currently on 13 out of 28 |::| City: Santa Cruz, MA

Currently on 14 out of 28 |::| City: Wawa, NG
I'm afraid I can't do that Dave. There seems to have been an error. Let's try the next city.

Currently on 15 out of 28 |::| City: Birao, CF
I'm afraid I can't do that Dave. There seems to have been an error. Let's try the next city.

Currently on 16 out of 28 |::| City: Phalaborwa, ZA

Currently on 17 out of 28 |::| City: Blythe, US

Currently on 18 out of 28 |::| City: Laguna, US

Currently on 19 out of 28 |::| City: Am Timan, TD

Currently on 20 out of 28 |::| City: Hirado, JP

Currently on 21 out of 28 |::| City: Kumano, JP

Currently on 22 out of 28 |::| City: Clovis, US

Currently on 23 out of 28 |::| City: Kontagora, NG

Currently on 24 out of 28 |::| City: Goundam, ML
I'm afraid I can't do that Dave. There seems to have been an error. Let's try the next city.

Currently on 25 out of 28 |::| City: Puerto Peñasco, MX

Currently on 26 out of 28 |::| City: Orodara, BF

Currently on 27 out of 28 |::| City: Mareeba, AU

Currently on 28 out of 28 |::| City: Zaria, NG

In [37]:
# Add Hotels to DF
hotel_df = vacation_weather_df
hotel_df["Hotel Name"] = hotels_list

# Drop rows where we assigned Error too, because there was no data to pull
hotel_df = hotel_df[hotel_df["Hotel Name"] != "Error"]

# Reset Index after removing errors
hotel_df = hotel_df.reset_index(drop=True)

hotel_df

,Latitude,Longitude,City,Country,Temperature (F),Humidity (%),Cloud Cover (%),Wind Speed (MPH),Date (UTC),Hotel Name
0,9.08,3.85,Kisi,NG,74.01,41,0,1.74,1603932513,AMARC GUEST HOUSE
1,18.69,12.92,Bilma,NE,70.14,20,0,4.50,1603932551,Expeditions Ténére voyages
2,36.03,-115.24,Enterprise,US,73.76,13,1,3.36,1603932745,Highland Inn Las Vegas
3,13.03,-9.49,Kita,ML,73.04,23,95,1.34,1603932822,Hôtel Nelson Mandela
4,-18.37,26.50,Hwange,ZW,72.37,35,0,3.42,1603932858,Hwange Colliery Guest House
5,35.15,-114.57,Bullhead City,US,75.20,12,1,4.70,1603933001,Golden Nugget Laughlin Hotel & Casino
6,21.57,74.22,Taloda,IN,73.63,45,0,3.76,1603933034,"Hotel Aarohi & Veg& Non,veg shahada Bay bass r..."
7,9.28,12.47,Jimeta,NG,76.77,38,5,2.53,1603933071,Yola International Hotel
8,11.42,-7.48,Bougouni,ML,73.27,37,20,1.88,1603933088,Non Stop
9,13.05,3.19,Dosso,NE,77.22,19,0,4.27,1603933234,Hotel Toubal
10,5.84,118.12,Sandakan,MY,75.00,10,100,1.99,1603933133,Hotel Sandakan
11,30.42,-9.60,Santa Cruz,MA,71.85,44,100,3.85,1603933273,Iberostar Founty Beach
12,-23.94,31.14,Phalaborwa,ZA,70.29,39,0,4.97,1603933393,Bothabelo B&B
13,33.61,-114.60,Blythe,US,75.00,24,0,4.52,1603933678,Rodeway Inn & Suites
14,38.42,-121.42,Laguna,US,71.67,29,0,2.91,1603933485,Holiday Inn Express & Suites Elk Grove Central...
15,11.03,20.28,Am Timan,TD,75.96,41,40,0.89,1603933727,Palais du chef Canton Salamt
16,33.36,129.55,Hirado,JP,71.01,25,0,3.00,1603933793,Samson Hotel
17,34.34,132.59,Kumano,JP,71.01,45,0,4.52,1603933802,ホテル コラソン
18,36.83,-119.70,Clovis,US,72.21,18,90,4.70,1603933667,Homewood Suites by Hilton Fresno Airport/Clovi...
19,10.40,5.47,Kontagora,NG,73.20,39,0,2.13,1603933805,City Gate Inn
20,31.32,-113.53,Puerto Peñasco,MX,71.01,36,0,4.00,1603933914,Playa Bonita Resort
21,10.95,-4.93,Orodara,BF,72.01,32,53,1.19,1603933934,Bkf Orodara
22,-17.00,145.43,Mareeba,AU,88.50,32,0,1.99,1603933966,Trinity Plains Tourist Park
23,11.11,7.72,Zaria,NG,73.13,28,0,4.41,1603933999,A.B.U Hotels

In [40]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# locations = hotel_df[["Lat", "Lng"]]
locations = hotel_df[["Latitude", "Longitude"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure